.idea/
.idea
*.log
.env
*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/
quick_invoice/__pycache__/

db.sqlite3

venv
venv/
venv2

newenv
newenv/

config.py
t_sms.py
celerybeat-schedule
testing.py
database.env
cron.log
/venv2/
Dockerfile

.vscode