# Python
__pycache__/
__pycache__
*.py[cod]
*.pyo
*.pyd
*.swp

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.mo

# Virtualenv
venv/
.env/
.env
.venv/
.venv

# VSCode / PyCharm
.vscode/
.idea/

# macOS
.DS_Store

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Coverage and testing
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Docker
*.pid
*.sock

# Static & media
staticfiles/
media/
